.minheader {
  display: flex;
  top: 80px;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.productContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.leftSection .filename {
  font-weight: bold;
  color: red;
  font-size: 22px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  font-weight: bold;
  color: red;
  font-size: 22px;
  margin-right: 20px;
}

.sliderContainer {
  display: flex;
  width: 100%;
  height: 770px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #808080;
}

.slider {
  width: 250px;
  height: 250px;
}

.image {
  position: absolute;
  width: 250px;
  height: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.06);
}

.slideInfo {
  position: absolute;
  top: 200px;
  right: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.thumbnailContainer {
  display: flex;
  justify-content: center;
  background-color: #808080;
  gap: 10px;
  flex-wrap: wrap;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  object-fit: cover;
  margin-bottom: 10px;
}

.activeThumbnail {
  opacity: 1;
  border: 2px solid orange;
  border-radius: 10px;
  z-index: 1;
}

.paginationButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButtons button {
  border-radius: 50%;
  cursor: pointer;
}

.paginationButtons button:hover {
  background-color: #666666;
}

.paginationButtons button:disabled {
  visibility: hidden;
}

.prevPaginationButton {
  left: 10px;
  position: absolute;
}

.nextPaginationButton {
  right: 10px;
  position: absolute;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prevButton {
  left: 10px;
}

.prevButtonImg {
  transform: scaleX(-1);
  margin-right: 4px;
}

.nextButton {
  right: 10px;
}

.nextButtonImg {
  margin-left: 4px;
}

.prevButton:hover,
.nextButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #84a9a6;
}

.contentContainer {
  display: flex;
  height: 600px;
  justify-content: space-between;
  padding: 20px 50px;
  padding-bottom: 40px;
  background-color: #2b2b2b;
}

.mainContent {
  width: 71.4%;
  min-width: 70%;
  border-radius: 5px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sideContent {
  width: 28%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sideItem {
  flex: 1;
  min-width: 18%;
  background-color: #eee;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.sideTitle {
  color: gray;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  max-height: 127.5px;
}

.sideContentDetail {
  color: red;
  max-height: 50px;
  background-color: #eee;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
