.button {
  width: auto;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  letter-spacing: 1px;
}
