.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--text-color-primary);
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  letter-spacing: 1.5px;
  white-space: nowrap;
}

.icon {
  left: 20px;
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.buttonKo {
  font-size: 0.9em !important;
}
