.sliderContainer {
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 60vh;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.06);
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5vw;
  width: 2.6vw;
  height: 2.6vw;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prevButton {
  left: 0.5vw;
  object-fit: cover;
}

.prevButtonImg {
  width: 50%;
  height: 50%;
  transform: scaleX(-1);
  margin-right: 0.2vw;
  object-fit: cover;
}

.nextButton {
  right: 0.5vw;
  object-fit: cover;
}

.nextButtonImg {
  width: 50%;
  height: 50%;
  margin-left: 0.2vw;
  object-fit: cover;
}

.prevButton:hover,
.nextButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid var(--accent-color-primary);
}

.thumbnailContainer {
  position: absolute;
  margin-left: 2%;
  min-height: 40px;
  max-height: 5.5vh;
  bottom: 8vh;
  left: 0;
  width: 95%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 1200px) {
  .thumbnailContainer {
    display: none;
  }
}

.thumbnailImgContainer {
  min-height: 40px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.2vw;
  max-height: 5.5vh;
  position: relative;
}

.thumbnail {
  width: 2.6vw;
  height: 2.6vw;
  cursor: pointer;
  opacity: 0.5;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  margin-bottom: 0.9vh;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  border-radius: 0.8vh;
  object-fit: cover;
  margin-bottom: 0.9vh;
}

.activeThumbnail {
  opacity: 1;
  border: 0.13vw solid orange;
  border-radius: 0.8vh;
  z-index: 1;
}

.thumbnailImgContainer button {
  transform: translateY(-50%);
  filter: contrast(4);
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;
  position: absolute;
  top: 50%;
}

.thumbnailImgContainer button:hover {
  filter: contrast(8);
}

.thumbnailImgContainer button:disabled {
  visibility: hidden;
}

.prevPaginationButton {
  left: -3vw;
}

.nextPaginationButton {
  right: -3vw;
}

.prevButtonImg {
  transform: scaleX(-1);
  margin-right: 0.2vw;
}

.nextButtonImg {
  margin-left: 0.2vw;
}
