/* ThumbnailSlider.module.css */
.thumbnailContainer {
  display: flex;
  justify-content: center;
  background-color: #808080;
  gap: 10px;
  flex-wrap: wrap;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  object-fit: cover;
  margin-bottom: 10px;
}

.activeThumbnail {
  opacity: 1;
  border: 2px solid orange;
  border-radius: 10px;
  z-index: 1;
}

.paginationButtons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButtons button {
  border-radius: 50%;
  cursor: pointer;
}

.paginationButtons button:hover {
  background-color: #666666;
}

.paginationButtons button:disabled {
  visibility: hidden;
}

.prevPaginationButton {
  left: 10px;
  position: absolute;
}

.nextPaginationButton {
  right: 10px;
  position: absolute;
}
