.dropdown {
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  width: 100%;
  background-color: var(--background-color-secondary);
  z-index: 10;
}

.filter:hover .dropdown {
  display: block;
  transition: transform 1s ease;
}

.dropdownItem {
  display: block;
  padding: 10px;
  color: var(--text-color-primary);
  text-align: center;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.paperback {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  color: var(--text-color-primary);
  font-size: 20px;
  height: auto;
}

.flexContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.nav {
  margin-top: 100px;
  margin-left: 2%;
  position: sticky;
  top: 10px;
  height: 85px;
  width: 95%;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: var(--background-color-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.inner {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px;
  width: 3.6em;
  height: 4.8rem;
  font-size: 0.8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-wrap: nowrap;
  cursor: pointer;
}

.selected {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.divider {
  border-left: 2px solid white;
}

.sliderForm {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 50px;
  width: 500px;
}

.sliderForm label {
  color: var(--text-color-primary);
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.labelColumn {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.priceLabel {
  font-size: 1.2rem;
  margin-top: -15px;
}

.animatedLabel {
  font-size: 1.2rem;
  margin-top: -10px;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: 0.2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accent-color-primary);
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 70px;
  margin-right: 70px;
  grid-gap: 30px 70px;
  margin-bottom: 100px;
}

.gridItem:nth-child(n) {
  background-color: #bbb;
  height: 350px;
  min-width: 400px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.4);
  border-radius: 0.46vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gridItem:nth-child(n):hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.05);
}

.gridItem:hover .hoverContainer {
  display: flex;
}

.hoverContainer {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--text-color-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 12px;
  border-radius: 4px;
}

.hoverContainer .extensionItem {
  margin: 2px 0;
  padding: 2px 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.itemImage {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-top-left-radius: 0.46vh;
  border-top-right-radius: 0.46vh;
}

.itemInfo {
  position: absolute;
  height: 10%;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-primary);
  text-decoration-line: underline;
  text-underline-offset: 7px;
}
