.dummy {
  background-color: white;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  color: white;
  font-size: 20px;
  height: auto;
}

.divisionline {
  border-top: 2px solid whitesmoke;
}

.nav {
  top: 0px;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter {
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  width: 100%;
  background-color: #2b2b2b;
  z-index: 10;
}

.filter:hover .dropdown {
  display: block;
  transition: transform 1s ease;
}

.dropdownItem {
  display: block;
  padding: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}
